
p {margin: 0;}

.fx-cont {
  width: 100%;
  max-width: 950px;
  margin:  auto;
}

.spravka {
  font-size: 30px;
  font-family: 'PT Sans', sans-serif;
  color: rgb(51, 51, 51);
  font-weight: bold;
  margin-top: 90px;
  margin-bottom: 30px;
}

.main_block {
  position: relative;
  background: #0885a0;
  padding: 0 20px 0 80px;
  border-radius: 5px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 20px;
  min-height: 113px;
  flex-basis: 30%;
}

.main_block {
  font-size: 24px;
  font-family: 'PT Sans', sans-serif;
  color: rgb(255, 255, 255);
  line-height: 1.2;
}

.main_block:before {
  content: '';
  position: absolute;
  width: 50px;
  height: 50px;
  left: 35px;
  top: 45px;
}

.main_block.ico-1::before {
  background: url('/img/icons/i-1.png') no-repeat;
}

.main_block.ico-2::before {
  background: url('/img/icons/i-2.png') no-repeat;
}

.main_block.ico-3::before {
  background: url('/img/icons/i-3.png') no-repeat;
}

.main_block.ico-4::before {
  background: url('/img/icons/i-4.png') no-repeat;
}

.main_block.ico-5::before {
  background: url('/img/icons/i-5.png') no-repeat;
}

.main_block.ico-6::before {
  background: url('/img/icons/i-6.png') no-repeat;
}

.main_block.ico-7::before {
  background: url('/img/icons/i-7.png') no-repeat;
}

.main_block.ico-8::before {
  background: url('/img/icons/i-8.png') no-repeat;
}

.main_block.ico-9::before {
  background: url('/img/icons/i-9.png') no-repeat;
}



.hide {
  display: none;
}




.first_line_name {
  display: flex;
  justify-content: space-between;
}

.value_directory {
  display: flex;
  justify-content: space-between;
}

.name {
  flex-basis: 45%;
}
.weight {
  flex-basis: 15%;
}
.point {
  flex-basis: 20%;
}
.endDate {
  flex-basis: 20%;
}